<div>
  <h1>Ciudades (Componente Padre)</h1>
  <!-- <app-ciudad  [ciudadPadre] = "ciudad" ></app-ciudad>  -->

  <app-ciudad  [ciudadPadre] = "ciudad"  (eventoCiudad) = "eligeCiudad($event)"></app-ciudad>

  <p *ngIf="ciudadHijo!=null">
    La ciudad del componente hijo es: {{ciudadHijo.nombre}}
  </p>

  <!-- <div *ngFor="let ciudad of ciudades">
    <app-ciudad  [ciudadPadre] = "ciudad" (eventoCiudad) = "eligeCiudad($event)"></app-ciudad> 
  </div> -->
</div>
<!--<router-outlet></router-outlet>-->
